<div class="layout-container">

  <div class="sidebar">
    <h2>EduCode</h2>
    <ul>
      <li><a routerLink="/platform/dashboard"><i class="pi pi-home"></i>Dashboard</a></li>
      <li><a routerLink="/platform/modules"><i class="pi pi-book"></i>Módulos</a></li>
      <li><a routerLink="/platform/laboratory"><i class="pi pi-file"></i>Laboratorio</a></li>
      <li><a routerLink="/platform/progress"><i class="pi pi-chart-bar"></i>Progreso</a></li>
      <li><a routerLink="/platform/settings"><i class="pi pi-cog"></i>Ajustes</a></li>

    </ul>

  </div>

  <div class="content">

    <div class="topbar">
      <h3>Plataforma de Aprendizaje</h3>
      <div class="topbar-button">
        <p-avatar label="A" shape="circle" size="large"></p-avatar>
        <p-button label="Cerrar Sesión" routerLink="/" severity="success" [outlined]="true"></p-button>
      </div>
    </div>

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>