<div class="layout-container">

  <div class="sidebar">
    <h2>EduCode</h2>
    <ul>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/modules">Módulos</a></li>
      <li><a routerLink="/lab">Laboratorio</a></li>
      <li><a routerLink="/progress">Progreso</a></li>
      <li><a routerLink="/settings">Ajustes</a></li>

    </ul>

  </div>

  <div class="content">

    <div class="topbar">
      <h3>Panel Principal</h3>
    </div>

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>