<div class="dashboard-container">

  <div class="dashboard-header">
    <div>
      <h1>Bienvenido, Usuario</h1>
      <p>Observa tus estadisticas y progreso.</p>
    </div>
    <p-tag value="Nivel Básico" severity="success"></p-tag>
  </div>

  <div class="content">

    <section class="dashboard-content">
      <p-card>
        <div class="card-content">
          <i class="pi pi-book"></i>
          <h1>7</h1>
          <p>Módulos disponibles</p>

        </div>
      </p-card>

      <p-card>
        <div class="card-content">
          <i class="pi pi-check-circle"></i>
          <h1>6/17</h1>
          <p>Lecciones completadas</p>
        </div>
      </p-card>

      <p-card>
        <div class="card-content">
          <i class="pi pi-bolt"></i>
          <h1>5 días</h1>
          <p>Racha actual</p>
        </div>
      </p-card>
    </section>

    <p-card>
      <h2>Tu progreso general</h2>
      <p-progressBar [value]="35"></p-progressBar>
      <div class="progress-button">
        <p-button label="Continúa tu aprendizaje" routerLink="/platform/modules" severity="success"></p-button>
      </div>
    </p-card>

  </div>


</div>