<div class="home-wrapper">

  <header class="header">

    <div class="header-logo">
      <strong>EduCode</strong>
    </div>

    <div class="header-button">
      <p-button label="Iniciar Sesión" severity="success" [outlined]="true"></p-button>
      <p-button label="Registrarse" severity="success"></p-button> <!--botones de primeng ya traen sus estilos de colores
      y de texto -->
    </div>

  </header>

  <main class="main-content">

    <section class="welcome">
      <div class="welcome-title">
        <h1>¡Hola! Bienvenido a EduCode</h1>
        <p>En EduCode, aprender a programar es fácil y divertido</p>
      </div>
      <div class="welcome-img">
        <p>[ IMAGEN DEL editor de Código Principal ]</p>
      </div>
    </section>

    <section class="features">
      <div class="features-title">
        <h2>¿Por qué aprender con EduCode?</h2>
        <p>Te ofrecemos las herramientas necesarias para acelerar tu aprendizaje.</p>
      </div>
      <div class="features-content">
        <p-card> <!-- esto hace como un contenedor visualmente mejor que el div y se tiene que hacer en scss-->
          <div class="feature-content-image">[ IMAGEN ]</div>
          <h3>Consola Interactiva</h3>
          <p>Escribe y ejecuta código en tiempo real sin instalar programas adicionales.</p>
        </p-card>
        <div class="feature-item">
          <div class="feature-content-image">[ IMAGEN]</div>
          <h3>Validación Inmediata</h3>
          <p>Recibe comentarios y guías automáticas al enviar tus respuestas.</p>
        </div>
        <div class="feature-item">
          <div class="feature-content-image">[ IMAGEN]</div>
          <h3>Rutas Guiadas</h3>
          <p>Lecciones organizadas secuencialmente desde principiante hasta avanzado.</p>
        </div>
      </div>
    </section>

  </main>

  <footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>EduCode</h3>
        <p>Aprende a programar de forma fácil y divertida.</p>
        <li><a routerLink="/" (click)="scrollToTop()">Inicio</a></li>
      </div>
      <div class="footer-section">
        <h3>Síguenos</h3>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </div>
    </div>
  </footer>

</div>