<div class="modules-container">

  <div class="modules-header">
    <div>
      <h1>Módulos</h1>
      <p>Selecciona un módulo y comienza tu aprendizaje.</p>
    </div>
  </div>

  <div class="content">

    <p-card>
      <h3>Introduccion a Python</h3>
      <p>
        Conoce los fundamentos de la programación con Python.
      </p>
      <div class="card-buttons">
        <p-button label="Entrar"></p-button>
        <p-tag value="En progreso" severity="warning"></p-tag>
      </div>
    </p-card>

    <p-card>
      <h3>Variables</h3>
      <p>
        Aprende a almacenar y manipular informacion.
        Los bloques de construccion de la programacion.
      </p>
      <p-button label="Entrar"></p-button>
    </p-card>

    <p-card>
      <h3>Tipos de datos</h3>
      <p>
        Descubre como Python maneja textos, numeros y booleanos.
      </p>
      <p-button label="Entrar"></p-button>
    </p-card>

    <p-card>
      <h3>Operadores</h3>
      <p>
        Descubre como Python maneja textos, numeros y booleanos.
      </p>
      <p-button label="Entrar"></p-button>
    </p-card>

    <p-card>
      <h3>Condicionales</h3>
      <p>
        Descubre como Python maneja textos, numeros y booleanos.
      </p>
      <p-button label="Entrar"></p-button>
    </p-card>

    <p-card>
      <h3>Bucles</h3>
      <p>
        Descubre como Python maneja textos, numeros y booleanos.
      </p>
      <p-button label="Entrar"></p-button>
    </p-card>

  </div>

</div>