.modules-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (max-width: 768px) {
    gap: 1rem;
  }
}

.modules-header{
  display: flex;
  flex-direction: column;
  gap: .5rem;

  @media (max-width: 768px) {
    gap: .25rem;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.card-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .75rem;

  @media (max-width: 768px) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.content p-card{
  transition:.3s;
}

.content p-card:hover{
  transform:translateY(-5px);
}