.progress-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.progress-header{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.progress-button{
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.achievements-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
